.ex-navbar-for-Desktop {
	height: 50px;
	width: 100%;
	margin: 0 0;
	padding: 0 0;
	position: fixed;
	top: 0;
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.14), 0 5px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	background: #2196f3;
	border-left: 1px solid #2196f3;
	border-right: 1px solid #2196f3;
	z-index: 10;
}
#ex-dnavbar-appbox1 {
	height: 51px;
	width: 80px;
	margin: 0;
	display: inline-block;
	position: absolute;
	top: 0px;
	left: 345px;
}
#ex-dnavbar-appbox2 {
	height: 51px;
	width: 80px;
	margin: 0;
	display: inline-block;
	position: absolute;
	top: 0px;
	left: 425px;
}
#ex-dnavbar-appbox3 {
	height: 51px;
	width: 80px;
	margin: 0;
	display: inline-block;
	position: absolute;
	top: 0px;
	left: 505px;
}
#ex-dnavbar-appbox4 {
	height: 51px;
	width: 80px;
	margin: 0;
	display: inline-block;
	position: absolute;
	top: 0px;
	left: 585px;
}
#ex-dnavbar-appbox5 {
	height: 51px;
	width: 90px;
	margin: 0;
	display: inline-block;
	position: absolute;
	top: 0px;
	left: 665px;
}
#ex-dnavbar-appbox6 {
	height: 51px;
	width: 120px;
	margin: 0;
	display: inline-block;
	position: absolute;
	top: 0px;
	left: 985px;
}
.ex-dnavbar-appbox {
	background-color: transparent;
	transition-property: background-color;
	transition-duration: 0.2s;
	cursor: pointer;
}
.ex-dnavbar-appbox:hover {
	background-color: #40c4ff;
}
.ex-dnacvar-userbox-username {
	height: 24px;
	margin-top: 8px;
	margin-bottom: 8px;
	text-align: center;
	font-size: 18px;
	font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
	color: #FFF;
	left: 200px;
	position: absolute;
}
.ex-dnavbar-appbox-text {
	height: 10px;
	width: auto;
	padding: 0px auto 2px auto;
	text-align: center;
	font-size: 13px;
	color: #FFF;
	font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
	z-index: 10;
}
.intro1 {
	position: absolute;
	top: 1620px;
	width: 100%;
	height: 640px
}
.img1 {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 700px;
	max-height: 700px
}
.divtalk-up-left {
	position: inherit;
	top: 290px;
	left: 7%;
	border-radius: 3px;
	width: 60%;
	display: block;
}
.talktitle-up-left {
	position: inherit;
	left: 80px;
	border-radius: 3px;
	width: 45%;
	font-family: "Microsoft Yahei";
	color: #FFFFFF;
	font-size: 19px
}
.talktext-up-left {
	position: inherit;
	top: 55px;
	left: 80px;
	border-radius: 3px;
	width: 45%;
	font-family: "Microsoft Yahei";
	color: #FFFFFF;
	font-size: 16px
}
.divtalk-up-right {
	position: inherit;
	top: 290px;
	right: 7%;
	border-radius: 3px;
	width: 60%;
	display: block;
}
.talktitle-up-right {
	position: inherit;
	right: 80px;
	border-radius: 3px;
	width: 45%;
	font-family: "Microsoft Yahei";
	color: #FFFFFF;
	font-size: 19px
}
.talktext-up-right {
	position: inherit;
	top: 55px;
	right: 80px;
	border-radius: 3px;
	width: 45%;
	font-family: "Microsoft Yahei";
	color: #FFFFFF;
	font-size: 16px
}
.imghead-up-left {
	position: inherit;
	top: 290px;
	left: 7%;
	border-radius: 50%;
	width: 55px;
	display: block;
}
.imghead-up-right {
	position: inherit;
	top: 290px;
	right: 7%;
	border-radius: 50%;
	width: 55px;
	display: block;
}
.divtalk-down-left {
	position: inherit;
	top: 420px;
	left: 7%;
	border-radius: 3px;
	width: 60%;
	display: block;
}
.talktitle-down-left {
	position: inherit;
	left: 80px;
	border-radius: 3px;
	width: 45%;
	font-family: "Microsoft Yahei";
	color: #FFFFFF;
	font-size: 19px
}
.talktext-down-left {
	position: inherit;
	top: 55px;
	left: 80px;
	border-radius: 3px;
	width: 45%;
	font-family: "Microsoft Yahei";
	color: #FFFFFF;
	font-size: 16px
}
.divtalk-down-right {
	position: inherit;
	top: 420px;
	right: 7%;
	border-radius: 3px;
	width: 60%;
	display: block;
}
.talktitle-down-right {
	position: inherit;
	right: 80px;
	border-radius: 3px;
	width: 45%;
	font-family: "Microsoft Yahei";
	color: #FFFFFF;
	font-size: 19px
}
.talktext-down-right {
	position: inherit;
	top: 55px;
	right: 80px;
	border-radius: 3px;
	width: 45%;
	font-family: "Microsoft Yahei";
	color: #FFFFFF;
	font-size: 16px
}
.imghead-down-center {
	position: inherit;
	top: 570px;
	left: 38%;
	border-radius: 50%;
	width: 55px;
	display: block;
}
.divtalk-down-center {
	position: inherit;
	top: 550px;
	right: 9%;
	border-radius: 3px;
	width: 60%;
	display: block;
}
.talktitle-down-center {
	position: inherit;
	left: 24%;
	border-radius: 3px;
	width: 45%;
	font-family: "Microsoft Yahei";
	color: #FFFFFF;
	font-size: 19px
}
.talktext-down-center {
	position: inherit;
	top: 55px;
	left: 24%;
	border-radius: 3px;
	width: 45%;
	font-family: "Microsoft Yahei";
	color: #FFFFFF;
	font-size: 16px
}
.imghead-down-left {
	position: inherit;
	top: 420px;
	left: 7%;
	border-radius: 50%;
	width: 55px;
	display: block;
}
.imghead-down-right {
	position: inherit;
	top: 420px;
	right: 7%;
	border-radius: 50%;
	width: 55px;
	display: block;
}
.introtitle1 {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 80px;
	font-family: "Microsoft Yahei";
	color: #FFFFFF;
	font-size: 36px
}
.introtitle2 {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 40px;
	font-family: "Microsoft Yahei";
	color: #66ccff;
	font-size: 36px
}
.introtext1a {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 200px;
	font-family: "Microsoft Yahei";
	color: #FFFFFF;
	font-size: 16px
}
.introtext1b {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 260px;
	font-family: "Microsoft Yahei";
	color: #FFFFFF;
	font-size: 16px
}
.introtext1c {
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 240px;
	font-family: "Microsoft Yahei";
	color: #FFFFFF;
	font-size: 22px
}
.intro2 {
	position: absolute;
	margin-top: 0px;
	width: 100%;
	height: 640px
}
.divmy-up-left {
	position: inherit;
	top: -70px;
	left: 7%;
	border-radius: 3px;
	width: 60%;
	display: block;
}
.mytitle-up-left {
	position: inherit;
	left: 130px;
	top: 280px;
	border-radius: 3px;
	width: 45%;
	font-family: "Microsoft Yahei";
	color: #4fb4f7;
	font-size: 19px
}
.mytext-up-left {
	position: inherit;
	top: 330px;
	left: 130px;
	border-radius: 3px;
	width: 45%;
	font-family: "Microsoft Yahei";
	color: #999999;
	font-size: 16px
}
.mylink-up-left {
	position: inherit;
	top: 470px;
	left: 130px;
	border-radius: 3px;
	width: 45%;
	font-family: "Microsoft Yahei";
	color: #999999;
	font-size: 16px
}
.divmy-up-right {
	position: inherit;
	top: -70px;
	right: 7%;
	border-radius: 3px;
	width: 60%;
	display: block;
}
.mytitle-up-right {
	position: inherit;
	right: 130px;
	top: 280px;
	text-align: right;
	border-radius: 3px;
	width: 45%;
	font-family: "Microsoft Yahei";
	color: #4fb4f7;
	font-size: 19px
}
.mytext-up-right {
	position: inherit;
	top: 330px;
	right: 130px;
	text-align: right;
	border-radius: 3px;
	width: 45%;
	font-family: "Microsoft Yahei";
	color: #999999;
	font-size: 16px
}
.mylink-up-right {
	position: inherit;
	top: 470px;
	right: 130px;
	border-radius: 3px;
	text-align: right;
	width: 45%;
	font-family: "Microsoft Yahei";
	color: #999999;
	font-size: 16px
}
.myhead-up-left {
	position: inherit;
	top: 290px;
	left: 7%;
	border-radius: 50%;
	width: 55px;
	display: block;
}
.myhead-up-right {
	position: inherit;
	top: 290px;
	right: 7%;
	border-radius: 50%;
	width: 55px;
	display: block;
}
.divmy-down-left {
	position: inherit;
	top: 70px;
	left: 7%;
	border-radius: 3px;
	width: 60%;
	display: block;
}
.mytitle-down-left {
	position: inherit;
	left: 130px;
	top: 400px;
	border-radius: 3px;
	width: 45%;
	font-family: "Microsoft Yahei";
	color: #4fb4f7;
	font-size: 19px
}
.mytext-down-left {
	position: inherit;
	top: 460px;
	left: 130px;
	border-radius: 3px;
	width: 45%;
	font-family: "Microsoft Yahei";
	color: #999999;
	font-size: 16px
}
.mylink-down-left {
	position: inherit;
	top: 590px;
	left: 130px;
	border-radius: 3px;
	width: 45%;
	font-family: "Microsoft Yahei";
	color: #999999;
	font-size: 16px
}
.divmy-down-right {
	position: inherit;
	top: 70px;
	right: 7%;
	border-radius: 3px;
	width: 60%;
	display: block;
}
.mytitle-down-right {
	position: inherit;
	right: 130px;
	top: 400px;
	text-align: right;
	border-radius: 3px;
	width: 45%;
	font-family: "Microsoft Yahei";
	color: #4fb4f7;
	font-size: 19px
}
.mytext-down-right {
	position: inherit;
	top: 460px;
	right: 130px;
	text-align: right;
	border-radius: 3px;
	width: 45%;
	font-family: "Microsoft Yahei";
	color: #999999;
	font-size: 16px
}
.mylink-down-right {
	position: inherit;
	top: 590px;
	right: 130px;
	border-radius: 3px;
	text-align: right;
	width: 45%;
	font-family: "Microsoft Yahei";
	color: #999999;
	font-size: 16px
}
.myhead-down-left {
	position: inherit;
	top: 420px;
	left: 7%;
	border-radius: 50%;
	width: 55px;
	display: block;
}
.myhead-down-right {
	position: inherit;
	top: 420px;
	right: 7%;
	border-radius: 50%;
	width: 55px;
	display: block;
}

.divmy-down-center {
	position: inherit;
	top: 310px;
	left: 32%;
	border-radius: 3px;
	width: 60%;
	display: block;
}
.mytitle-down-center {
	position: inherit;
	right: 32%;
	top: 410px;
	width: 45%;
	font-family: "Microsoft Yahei";
	color: #4fb4f7;
	font-size: 19px
}
.mytext-down-center {
	position: inherit;
	top: 450px;
	right: 32%;
	border-radius: 3px;
	width: 45%;
	font-family: "Microsoft Yahei";
	color: #999999;
	font-size: 16px
}
.mylink-down-center {
	position: inherit;
	top: 540px;
	right: 32%;
	border-radius: 3px;
	width: 45%;
	font-family: "Microsoft Yahei";
	color: #999999;
	font-size: 16px
}
.myhead-down-center {
	position: inherit;
	top: 420px;
	left: 7%;
	border-radius: 50%;
	width: 55px;
	display: block;
}
.whatsthat {
	position: inherit;
	width: 100%;
	text-align: center;
	top: 350px;
	font-family: "Microsoft Yahei";
	color: #FFFFFF;
	font-size: 16px
}
.future {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 4850px;
	font-family: "Microsoft Yahei";
	color: #FFFFFF;
	font-size: 16px
}
.laugh {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 5220px;
	font-family: "Microsoft Yahei";
	color: #FFFFFF;
	font-size: 28px
}
.sthtips {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 5280px;
	font-family: "Microsoft Yahei";
	color: #FFFFFF;
	font-size: 22px
}
.futureabout {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 5390px;
	font-family: "Microsoft Yahei";
	color: #FFFFFF;
	font-size: 12px
}
a {
	text-decoration: none;
	color: #259
}
a:hover {
	text-decoration: underline
}
a:active {
	outline: 0
}
h1, h2, h3, h4, h5 {
	font-weight: 700;
	font-size: 14px;
	outline: 0
}
i, em {
	font-style: italic
}
.zg-link {
	cursor: pointer;
	text-decoration: none
}
.zg-link:hover {
	text-decoration: underline
}
.zg-link-disabled:hover {
	text-decoration: none;
	cursor: not-allowed
}

@media (max-width:959px) {
.zu-main.no-sidebar .zu-main-content-inner {
	margin: 0 10px
}
}
.zu-main-content {
	float: left;
	width: 100%
}
.zu-main-content-inner {
	position: relative;
	margin: 0 328px 0 0
}
.zm-item-answer, .zm-item {
	position: relative;
	padding: 0;
	outline: 0
}
.zm-item-answer {
	margin-left: 48px
}
.zm-item-answer .answer-head {
	min-height: 25px
}
.zm-item-title {
	margin: 0 30px 3px 0
}
.zm-item-answer-owner .zm-item-vote {
	display: block!important
}
.zm-item .zm-item-btn-collapse a {
	display: inline;
	padding-right: 14px;
	background: url(/static/revved/img/fold-video.eb40a520.png) no-repeat right center
}
.zm-item-answer-cc {
	display: inline-block
}
.zm-item-answer-summary {
	display: none
}
.zh-answers-title {
	position: relative;
	padding: 10px 0;
	line-height: 24px;
	border-top: 1px solid #EEE
}
.zh-answers-title h3 {
	margin: 0;
	display: inline
}
.zh-answers-title h3 a {
	font-size: 13px
}
.top-nav-dropdown li {
	margin: 0;
	list-style: none
}
.top-nav-dropdown li a {
	display: block;
	width: 145px;
	height: 40px;
	line-height: 40px;
	color: #fff;
	text-decoration: none;
	border-top: 1px solid #0d5aa5;
	box-shadow: 0 1px 1px rgba(0,0,0,.4);
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	cursor: pointer
}
.zm-votebar .up, .zm-votebar .down {
	display: block;
	color: #698ebf;
	height: 24px;
	line-height: 24px;
	width: 38px;
	border-radius: 3px;
	border: 0;
	cursor: pointer;
	background: #eff6fa;
	font-weight: 700;
	font-weight: 500;
	text-align: center;
	position: relative
}
.zm-votebar .up {
	padding-top: 18px;
	height: 44px
}
.zm-votebar .down {
	margin: 5px 0 0
}
.zm-votebar .count {
	display: block;
	padding-left: 0px;
}
.zm-votebar .vote-arrow {
	width: 0;
	height: 0;
	border: 6px solid transparent;
	font-size: 0;
	_border-style: dashed;
	background-image: none
}
.zm-votebar .up .vote-arrow {
	position: absolute;
	top: 11px;
	left: 50%;
	margin-left: -6px;
	border-top-width: 0;
	border-bottom-color: #698ebf;
	border-top-style: solid
}
.zm-votebar .down .vote-arrow {
	border-bottom-width: 0;
	border-top-color: #698ebf
}
.zm-votebar {
	float: left;
	margin-left: -48px
}
.zm-item-tag {
	background: #eff6fa;
	color: #0d5aa5;
	padding: 1px 10px 0;
	border-radius: 30px;
	text-decoration: none;
	margin: 0 5px 5px 0;
	display: inline-block;
	float: left;
	white-space: nowrap
}
