.name
{	
	position:absolute;
	padding-top:30px; 
	right: 120px;
	font-family: "microsoft yahei";
	text-align:right;
	width:280px;
	padding-right:15px;
	color:#4fb4f7;
}
.time
{	
	position:absolute;
	padding-top:32px; 
	left:0px;
	font-size:10px;
	font-family: "microsoft yahei";
	text-align:right;
	color:#9E9E9E;
	width:280px;
}
.mark
{
	position:absolute;
	font-family: "microsoft yahei";
	right:15px;
	bottom:15px
}

.tasklist
{
	position:relative;
	margin-top:10px;
	margin-bottom:30px;
	min-width:100%;
	left:13%;
}
.headimg
{
	position:relative;
	margin-top:15px;
	width:45px;
	height:45px;
	left:15px;
	border-radius: 50%
}
.contentarea
{	
	min-width:600px;
	width:97%;
	font-size:18px;
	padding:0 15px 30px 15px;
	min-height:100px;
}
#listarea
{
	position:absolute;
	top:180px;
	padding-bottom:100px;
	left: 0%;
    width: 100%;
}
.pubgroup{
	position:absolute;
	padding-top:30px; 
	right: 0px;
	font-family: "microsoft yahei";
	text-align:right;
	width:280px;
	padding-right:15px;
	color:#FF80AB;
}

#tips1{
	top:110px;
	position:absolute;
	left:53%;
	text-align:center;
	font-size:18px;
	font-family:Microsoft Yahei
}
#poster{
	display:none;
}