.name
{	
	position:absolute;
	padding-top:30px; 
	right: 120px;
	font-family: "microsoft yahei";
	text-align:right;
	width:280px;
	padding-right:15px;
	color:#4fb4f7;
}
.time
{	
	position:absolute;
	padding-top:32px; 
	left:0px;
	font-size:10px;
	font-family: "microsoft yahei";
	text-align:right;
	color:#9E9E9E;
	width:280px;
}
.mark
{
	position:absolute;
	font-family: "microsoft yahei";
	right:15px;
	bottom:15px
}
.del
{
	position:absolute;
	font-family: "microsoft yahei";
	left:15px;
	bottom:15px
}
.tasklist
{
	position:relative;
	margin-top:10px;
	margin-bottom:30px;
	min-width:100%;
	left:13%;
}
.headimg
{
	position:relative;
	margin-top:15px;
	width:45px;
	height:45px;
	left:15px;
	border-radius: 50%
}
.contentarea
{	
	min-width:600px;
	width:97%;
	font-size:18px;
	padding:0 15px 30px 15px;
	min-height:100px;
}
#listarea
{
	position:absolute;
	top:700px;
	padding-bottom:100px;
	left: 0%;
    width: 100%;
}
.pubgroup{
	position:absolute;
	padding-top:30px; 
	right: 0px;
	font-family: "microsoft yahei";
	text-align:right;
	width:280px;
	padding-right:15px;
	color:#FF80AB;
}
.finishsum{
	position:absolute;
	color:#2196F3;
	font-family: "microsoft yahei";
	right:15px;
	bottom:15px
}
.sumsty{
	 font-size:10px;
	 background:#FF80AB;
	 border-radius: 5px;
	 padding:1px 5px 1px 5px;
	 color:#fff;
}
#nextstep
{
	position:absolute;
	bottom:7px;
	right:10px;
	font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
	width:120px;
	display:inherit;
}
#laststep
{
	position:absolute;
	bottom:7px;
	left:10px;
	font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
	width:120px;
	display:inherit;
}
#submit
{
	position:absolute;
	bottom:7px;
	right:10px;
	font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
	width:120px;
	display:inherit;
}
#backwardbutton
{
	position:absolute;
	bottom:7px;
	right:140px;
	font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
	width:120px;
	display:inherit;
}

#treecontainer
{
	padding:10px 15px 10px 15px;
}
#tips1{
	position:absolute;
	top:640px;
	left:53%;
	text-align:center;
	font-size:18px;
	font-family:"Microsoft Yahei"
}
#poster{
	display:block;
	position:absolute;
	top:130px;
	width:100%;
	height:500px;
	text-align:center;
	z-index:1;
	left:13%;
	right:13%;
}
.fnspeople{
	width:200px;
	height:70px;
    display: inline-block;
    margin: 0 5px 0 5px;
	background-color: transparent;
	border-color: #fff
}
.fnsimg{
	border-radius: 50%;
	width: 60px;
	margin:5px 15px 5px 5px;
}
.fnsname{
	position:relative;
	color:#fff;
    display: block;
    padding-left: 80px;
    top: -43px;
    margin-right: 5px;
	word-break:keep-all;
	overflow:hidden;
	text-overflow:ellipsis;
}
.disablemod{
	opacity:0.5;
	cursor: not-allowed
}
.disablemod a,.disablemod input,.disablemod button{
	cursor: not-allowed;
	pointer-events: none
}