/*form styles*/
.card {
	width: 40%;
	left: 18%;
	text-align: center;
	position: relative;
	padding: 20px 30px;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: absolute;

}

.ipt {
	outline:none;
	margin-bottom: 10px;
	width: 100%;
	font-family: "Microsoft YaHei";
	font-size: 13px;
	padding: 1.5em 0 0.5em 0;
	height: 2em;
}
/*headings*/
.fs-title {
	font-size: 19px;
	font-family:"Microsoft Yahei";
	color: #66ccff;
	margin-bottom: 10px;
}

.avt
{
	width: 100px;
	margin-top: 10px;
	margin: 0 auto;
	display:block;
	border-radius: 50%
}
.job
{
	font-size: 16px;
	color: #66ccff;
	text-align:center;
}
.contact
{
	display:inline-block;
	width:150px;
	margin:0 15px 0 15px;
 }
#avatarset
{
	top:180px;
}
#pwset
{
	top:380px;
}
#helper
{
	top:1110px;
	margin-bottom: 50px
}
.targetitem{
	color:#00c853;
	font-size: 14px
}
.targetsw{
	float:right;
	font-size: 12px;
	color:#bdbdbd;
}
.subtitle
{
	position:relative;
	left:12%;
	top:100px;
}
.avatar-view {
  display: block;
  width: 220px;
  height: 220px;
  border: 3px solid #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,.15);
  cursor: pointer;
  overflow: hidden;
}

.avatar-view img {
  width: 100%;
}

.avatar-body {
  padding-right: 15px;
  padding-left: 15px;
}

.avatar-upload {
  overflow: hidden;
}
.avatar-upload input {
  display: block;
}

.avater-alert {
  margin-top: 10px;
  margin-bottom: 10px;
}

.avatar-wrapper {
  height: 364px;
  width: 100%;
  margin-top: 15px;
  box-shadow: inset 0 0 5px rgba(0,0,0,.25);
  background-color: #fcfcfc;
  overflow: hidden;
}

.avatar-wrapper img {
  display: block;
  height: auto;
  max-width: 100%;
}

.avatar-preview {
  float: left;
  margin-top: 15px;
  margin-right: 15px;
  border: 1px solid #eee;
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
}

.avatar-preview:hover {
  border-color: #ccf;
  box-shadow: 0 0 5px rgba(0,0,0,.15);
}

.avatar-preview img {
  width: 100%;
}

.preview-lg {
  height: 184px;
  width: 184px;
  margin-top: 15px;
}

.preview-md {
  height: 100px;
  width: 100px;
}

.preview-sm {
  height: 50px;
  width: 50px;
}

@media (min-width: 992px) {
  .avatar-preview {
    float: none;
  }
}

.avatar-btns {
  margin-top: 30px;
  margin-bottom: 15px;
}

.avatar-btns .btn-group {
  margin-right: 5px;
}

.loading {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .75;
  filter: alpha(opacity=75);
  z-index: 20140628;
}
.avbtn{
	width: auto;
	background: #27AE60;
	color: white;
	border: 0 none;
	font-family: "Microsoft YaHei";
	border-radius: 1px;
	cursor: pointer;
	padding:10px;
	border-radius: 3px;
}
.avbtn:hover, .avbtn:focus {
	background: #00C853;
	box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12),0 5px 5px -3px rgba(0,0,0,0.4)
}

.circle{
  opacity:0;
  width:180px;
  height:180px;
  margin:30px 46px 40px 40px;
  border-radius:50%;
  display: inline-block;
}
.billtotal{
  text-align: center;
  position: inherit;
  margin-top: 30px;
  display: inline-block;
  width:150px;
}
#earncircle{
  border:4px solid #00c857;
}
#costcircle{
  border:4px solid #FF808B;
}
#balcircle{
  border:4px solid #4fb4f7;
}
#earn p{
  color:#00c857;
  font-size: 40px;
  text-align: center
}
#cost p{
  color:#FF808B;
  font-size: 40px;
  text-align: center
}
#balance p{
  color:#4fb4f7;
  font-size: 40px;
  text-align: center
}
#updatedate{
  color:#64B5F6;
  font-size: 21px;
  opacity: 0;
  margin:2px 0 30px 0;
}
@media(max-width: 1200px){
  .circle{margin:20px;width:150px;height:150px;}
  #earn p{font-size: 30px;}
  #cost p{font-size: 30px;}
  #balance p{font-size: 30px;}
  #updatedate{font-size: 21px;margin:40px 0 10px 0;}
}
@media(max-width: 800px){
  .circle{margin:20px;width:100px;height:100px}
  .billtotal{margin-top: 10px;width:75px;}
  #earncircle{border:2px solid #00c857;}
  #costcircle{border:2px solid #FF808B;}
  #balcircle{border:2px solid #4fb4f7;}
  #earn p{font-size: 25px;}
  #cost p{font-size: 25px;}
  #balance p{font-size: 25px;}
  #updatedate{font-size: 21px;margin:40px 0 10px 0;}
}
#details{
  top:470px;
}
.cpstips{
  background:#f00000;
  padding:2px;
  border-radius: 3px;
  color:#fff;
  width:auto;
  text-align: center;
}

@media(max-width: 500px){
  .card{  
    width: 60%;
    left: 2%;
  }
  .subtitle{
    left:2%;
    width:200px;
  }
}