.ex-about
{
width:100%;
left:13%;
right:13%;
color:#9e9e9e;
font-size:13px;
font-family:"Microsoft Yahei";
text-align:center;
}
.ex-end
{
width:100%;
position:absolute;
bottom:30px;
padding:20px 0px 5px 0px;
color:#9e9e9e;
font-size:13px;
font-family:"Microsoft Yahei";
text-align:center;
border-radius: 3px;
}
#appfixbox
{
	float:left;
	padding-left:140px;
}

.ex-dnavbar-appbox
{
	height:69px;
	width:125px;
	display:inline-block;	
	position:relative;
	top:0px;
	transition-property:background-color;
	transition-duration:0.2s;
	cursor:pointer;
}
.ex-dnavbar-appbox img
{
	height:52px;
	width:52px;
	margin:0 8px 0 10px;
	padding-top:12px;
}


.ex-dnavbar-appbox-text
{
	display:inline-block;
	position:relative;
	top:-20px;
	text-align: center;
	font-size: 16px;
	font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
	z-index: 10;
	color:#fff;
}
.ex-dnavbar-userbox
{
	height:68px;
	width:200px;
	margin:0 0;
	display:inline-block;
	position:relative;
	top:0px;
	float:right;
	padding-right:140px;
	background:inherit;
	transition-duration:0.2s;
	transition-property:background;
}

.ex-dnavbar-userbox-avatarfixbox
{
	height:52px;
	width:54px;
	padding:8px 8px;
	background-color:none;
	position:absolute;
	top:0px;
	left:0px;
}

.ex-dnavbar-userbox-avatarfixbox img
{
	border-radius:50%
}

.ex-dnavbar-userbox-usernamefixbox
{
	height:40px;
	width:140px;
	position:absolute;
	top:0px;
	left:70px;
}

.ex-dnavbar-userbox-descunderunfixbox
{
	height:30px;
	width:110px;
	position:absolute;
	top:40px;
	left:85px;
}

.ex-dnacvar-userbox-username
{
	height:24px;
	margin-top:10px;
	margin-bottom:8px;
	text-align:center;
	font-size:14px;
	font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
	font-weight:bold;
	color:#fff;
}

.ex-dnavbar-userbox-descunderunfb
{
	height:30px;
	margin-top:5px;
	margin-bottom:5px;
	text-align:center;
	font-size:12px;
	font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
	color:#fff;
}


