.name
{	
	position:relative;
	margin: 20px;
	line-height: 45px;
	color:#4fb4f7;
}
.time
{	
	position:absolute;
	padding-top:28px; 
	right:0px;
	padding-right:30px;
	font-size:10px;
	text-align:right;
	color:#9E9E9E;
	width:280px;
}
.mark
{
	position:absolute;
	right:15px;
	bottom:15px
}
.del
{
	position:absolute;
	left:15px;
	bottom:15px
}
.tasklist
{
	position:relative;
	margin-top:10px;
	word-wrap:break-word; 
	word-break:break-all;
	margin-bottom:30px;
	min-width:100%;
	left:13%;
}
.headimg
{
	position:relative;
	margin-top:15px;
	width:45px;
	height:45px;
	left:15px;
	border-radius: 50%
}
.contentarea
{	
	min-width:600px;
	width:97%;
	font-size:18px;
	padding:0 20px 30px 20px;
	min-height:100px;
}
#poster{
	display:block;
	position:absolute;
	top:130px;
	width:100%;
	height:500px;
	z-index:1;
	left:13%;
	right:13%;
}
#listarea
{
	display:block;
	position:absolute;
	top:650px;
    width: 100%;
	margin-bottom:100px;
	left:13%;
	right:13%;
}
.pubgroup{
	position:relative;
	margin: 20px;
	line-height: 45px;
	color:#FF80AB;
}
.finishsum{
	position:absolute;
	color:#2196F3;
	font-family: "microsoft yahei";
	right:15px;
	bottom:15px;	
    line-height: 5px;
}
.sumsty{
	 font-size:10px;
	 background:#FF80AB;
	 border-radius: 5px;
	 padding:1px 5px 1px 5px;
	 color:#fff;
}
#nextstep
{
	position:relative;
	margin:8px 15px;
	float:right;
	width:110px;
	display:inline-block;
}
#laststep
{
	position:relative;
	margin:8px 15px;
	float:left;
	width:110px;
	display:inline-block;
}
#submit
{
	position:relative;
	margin:8px 15px;
	float:right;
	width:110px;
	display:inline-block;
}
#treecontainer
{
	padding:10px 15px 10px 15px;
}
#tips1{
	position:absolute;
	top:640px;
	left:53%;
	text-align:center;
	font-size:18px;
	font-family:"Microsoft Yahei"
}
.fnspeople{
	width:200px;
	height:70px;
    display: inline-block;
    margin: 5px;
	background-color: transparent;
	border-color: #fff
}
.fnsimg{
	border-radius: 50%;
	width: 60px;
	margin:5px 15px 5px 5px;
}
.fnsname{
	position:relative;
	color:#fff;
    display: block;
    padding-left: 80px;
    top: -43px;
    margin-right: 5px;
	word-break:keep-all;
	overflow:hidden;
	text-overflow:ellipsis;
}
.disablemod{
	opacity:0.5;
	cursor: not-allowed
}
.disablemod a,.disablemod input,.disablemod button{
	cursor: not-allowed;
	pointer-events: none
}
@media(max-width: 800px){
	.ver{
		display: none;
	}
	.tasklist
	{
		width:100%;
		left:10%;
		padding-right: 10px
	}
	.contentarea
	{	
		position: inherit;
		min-width: 90%;
		width:90%;
		word-wrap:break-word; 
		word-break:break-all;
	}
	.time{
		padding-top: 38px;
    	padding-right: 0px;
    	width: 180px;
    	text-align: center;
	}
	.pubgroup,.name {
    	padding-top: 8px;
	}
}