.ex-navbar-for-Desktop
{
	height:69px;
	width:100%;
	margin:0 0;
	padding:0 0;
	position:fixed;
	top:0;
	background:#64B5F6;
	border-left:1px solid #64B5F6;
	border-right:1px solid #64B5F6;
	z-index:10;
}
#globalnote
{
	height:280px;
	width:125%;
	margin:0 0;
	padding:0 0;
	position:relative;
	top:69px;
	background:#64B5F6;
	border-left:1px solid #64B5F6;
	border-right:1px solid #64B5F6;
	z-index:8;
}
#globalnote p,h3{
	color: rgba(255,255,255,0.87);
	text-align: center
}
#whofinished{
	height:380px;
	width:100%;
	margin:0 0;
	padding:0 0;
	position:fixed;
	top:69px;
	background:#64B5F6;
	border-left:1px solid #64B5F6;
	border-right:1px solid #64B5F6;
	z-index: 9
}
body{
	background-color: #fff;
	color: rgba(0,0,0,0.87);
	font-family:"Microsoft Yahei"
}
#toast-exit{
	background-color:#FFA000;
}
.ex-dnavbar-appbox:hover,.ex-dnavbar-userbox:hover
{
	background-color:#90CAF9;
}
.trick{
	color:#fff
}
.card{
	background-color: #fff;
	border: 2px solid #E0E0E0
}
.wangEditor-container {
	background-color: #fff;
	border-bottom: 1px solid #DBDBDB;
}
.wangEditor-menu-container {
	border-bottom: 1px solid #f1f1f1;
	background-color: #fff
}
.wangEditor-menu-container .menu-item:hover {
	background-color: #f1f1f1
}
.wangEditor-menu-container .menu-item a {
	color: #666;
}
.appbox-selected
{
	background-color:#90CAF9;
}
