.ex-navbar-for-Desktop
{
	height:69px;
	width:100%;
	margin:0 0;
	padding:0 0;
	position:fixed;
	top:0;
	background:#444;
	border-left:1px solid #444;
	border-right:1px solid #444;
	z-index:10;
}
#globalnote
{
	height:340px;
	width:125%;
	margin:0 0;
	padding:0 0;
	position:relative;
	top:69px;
	background:#444;
	border-left:1px solid #444;
	border-right:1px solid #444;
	z-index:8;
}
#globalnote p,h3{
	color: rgba(255,255,255,0.87);
	text-align: center
}
#whofinished{
	height:auto;
	width:100%;
	margin:0 0;
	padding:0 0;
	position:fixed;
	top:69px;
	background:#444;
	border-left:1px solid #444;
	border-right:1px solid #444;
	z-index: 9
}
body
{
	background-color: #333;
	color:rgba(255, 255, 255, 0.87);
	font-family:"Microsoft Yahei"
}
#toast-exit{
	background-color:#BF360C;
}
.trick{
	color:#333
}
.ex-dnavbar-appbox:hover,.ex-dnavbar-userbox:hover
{
	background-color:#616161;
}
.card{
	background-color:#424242;
	border: 2px solid #757575
}
.wangEditor-container {
	background-color:#424242;
	border-bottom: 1px solid #BDBDBD;
}
.wangEditor-menu-container {
	border-bottom: 1px solid #757575;
	background-color: #444
}
.wangEditor-menu-container .menu-item:hover {
	background-color: #757575
}
.wangEditor-menu-container .menu-item a {
	color: #BDBDBD;
}
.wangeditor-txt{
	color:rgba(255, 255, 255, 0.87);
}
.appbox-selected
{
	background-color:#616161;
}