/*universal*/
html::-webkit-scrollbar,div::-webkit-scrollbar{
	width:10px;
	background:none;
}
html::-webkit-scrollbar-button,div::-webkit-scrollbar-button{
	display: none
}
html::-webkit-scrollbar-thumb,div::-webkit-scrollbar-thumb{
	background-color: rgba(0,0,0,.6);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.footer {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
    color: #99979c;
    text-align: center;
    background-color: #2a2730;
}
.footer.in-dex {
    margin-top: 0px;
}
.footer-links {	
    padding-left: 0;
    display: inline-block;
    margin-bottom: 20px;
}
.footer-links li {
	margin-left: 25px;
    display: inline-block;
}
.footer-links a {
	color: #ccc;
	transition:0.25s ease-out
}
.footer-links a:hover{
	color: #fff
}
.vi{
	border-right: 1px solid #aaa;
	font-size: 1.2em;
	padding-right: 20px
}
@media (max-width: 1000px){
	.vi {
	    border-right:none;
	    line-height:3em;
	}
}
.navbar{
	margin-bottom: 0!important
}
.badge{
	font-weight:lighter;
	line-height: 0.9em;
}
.tooltip{
	font-family: "MILT_RG"
}
.navbar-default{
	transition:0.25s ease-out
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border:none;
	box-shadow:none
}
.hide{
	opacity:0;
    visibility: hidden;
}
/*navbar style*/
	/*navbar transparent style*/
.navbar-default.transparent{
	background-color:rgba(0,0,0,0.0);
	border:none
}
.navbar-default.transparent a{
	color:#fff!important;
}
.navbar-default.transparent .badge{
	background-color:#fff!important;
	color:#555;
}
.navbar-default.transparent .menubtn{
	color:#fff;
}
.navbar-default.transparent .collapsing{
	background-color:#555
}
.navbar-default.transparent .collapse.in{
	background-color:#555
}
.navbar-default.transparent .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color:transparent;
}

/*jumbotron style*/
.jumbotron{
	background-position:center;
	background-repeat: no-repeat;
	background-attachment:fixed;
	margin-bottom: 0px
}
.jumbotron.head{
	height:100%;
}
@media(min-width:1280px){
	.jumbotron.head{
	height:100%;
	background-size:150%
	}
	.jumbotron{
	background-size:140%
	}
}
.brandimg{
	height:210%;
	margin-top:-10px
}
@media(max-width:385px){
	.brandimg{
		height:150%;
	margin-top:0px
}
}
@media(max-width:320px){
	.brandimg{
		height:120%;
		margin-top:0px
	}
}

#wx{
	position:absolute;
	right:0;
	width:410px;
	margin:15px 20px;
	float:right;
    visibility:inherit;
	opacity:0.9;
	transition:0.4s ease-in!important
}